
/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: hsla(176, 20%, 84%, 0.386);
  --secondary-color: hsla(209, 50%, 23%, 0.913);
  --tertiary-color: hsla(198, 73%, 39%, 0.735);
  --hover-color:hsla(0, 70%, 65%, 0.757);
  --shadow-color: hsla(198, 73%, 39%, 0.735);
  --btn-color-1: hsl(0, 0%, 0%);
  --btn-color-2: hsl(0, 0%, 100%);
  --nav-link-color: hsla(175, 37%, 65%, 0.598);
  --sb-track-color: #232e33;
  --sb-thumb-color: hsla(175, 37%, 65%, 0.598);
  
}

/* DARK MODE */
.dark-mode {
  --primary-color: hsla(0, 0%, 5%, 0.88);
  --secondary-color: hsl(0, 0%, 100%);
  --tertiary-color:hsl(0, 0%, 100%);
  --shadow-color: hsla(24, 53%, 45%, 0.598);
  --btn-color-1: hsla(24, 79%, 49%, 0.884);
  --btn-color-2: hsla(0, 0%, 5%, 0.784);
  --nav-link-color: hsl(0, 3%, 7%);
  --sb-track-color: #232e33;
  --sb-thumb-color: hsla(24, 79%, 49%, 0.884);
  
}



body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  
}



body {
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  border: 3px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

html {
  scroll-behavior: smooth;
}



p {
  color: var(--tertiary-color);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav{
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--nav-link-color);
  z-index: 1000;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  text-decoration-color: var(--primary-color);
}

a:hover {
  color: var(--hover-color);
  font-size: large;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: pointer;
  color: var(--hover-color);
  font-size: x-large;
  
}

/* Toggle Switch*/
/* The switch - the box around the slider */
.toggle-container{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  right: 5%;
  top: 4%;
  }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(176, 20%, 84%, 0.386);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url("assets/icons8-sun-48.png");
  background-size: cover; 
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--btn-color-2);
}

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
  
}

input:checked + .slider:before {
  background-image: url("assets/icons8-moon-50.png");
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  
  border-radius: 50%;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  background-color: var(--nav-link-color);
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  display: block;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  z-index: 1;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-color: var(--nav-link-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  z-index: 1;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 20rem;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-nav-right{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 80vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
  border-radius: 50% 20% / 10% 40%;
  filter: drop-shadow(1rem 1.5rem 1.95rem var(--shadow-color));
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__pic-container img {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }    
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}



.title {
  
  font-size: 3rem;
  text-align: center;
  
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICON SECTION */

.icon {
  cursor: pointer;
  height: 3rem;
  filter: drop-shadow(0 0 0.5rem #ffffff);
}

.icon:hover {
  transform: scale(1.2);
}

/* BUTTON SECTION*/

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--secondary-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--btn-color-1);
  color: var(--btn-color-2);
}

.btn-color-1:hover {
  background: var(--btn-color-2);
  color: var(--btn-color-1);
  border: var(--btn-color-1) 0.1rem solid;
}

.btn-color-2 {
  background: var(--btn-color-2);
  color: var(--btn-color-1);
}

.btn-color-2:hover {
  border: var(--primary-color) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


/* ABOUT SECTION */

#about {
  position: relative;
  
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  z-index: 100;
}
.arrow-carousel {
  position: absolute;
  right: -3rem;
  bottom: 0;
  z-index: 100;

}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--primary-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.details-container p{
  text-align: left;
  text-wrap: nowrap;
}
.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}
.section__pic-container img{
  height: 400px;
  width: 400px;
  padding-right: 2rem;
  
}


.section__pic-container-2 {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.section__pic-container-2 img{
  height: 400px;
  width: 400px;
  
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  
}

.experience-sub-title {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  z-index: 1;
  margin:0 7rem 0 5rem;
  
}

/* carousel */
.carousel{
  height: 80vh;
  margin-top: -50px;
  width: 88vw;
  overflow:hidden;
  position: relative;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  object-fit: cover;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 10%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 10px 10px #0004;
  
  background: rgba(35, 34, 34, 0.887);
  
}
.carousel .list .item .author{
  font-weight: bold;
  letter-spacing: 10px;
  margin-left: 2rem;
  
  
}
.carousel .list .item .title{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3em;
  color: #f1683a;
  text-align: left;
  margin-left: 1rem;
  
}
.carousel .list .item .des{
  margin-left: 1rem;
  
}


.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 8.125rem);
  grid-template-rows: 3rem;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
  
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: blur(0.1rem);
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  top: 4rem;
  bottom: 0.5rem;
  left:  0.5rem;
  right:  0.5rem;
}
.thumbnail .item .content .title{
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: hsl(60, 82%, 39%) 1px 0 10px;
  backdrop-filter: blur(0.4rem);
}
.thumbnail .item .content .description{
  font-weight: 300;
  font-size: small;
  text-align: center;
  text-shadow: hsl(60, 82%, 39%) 1px 0 10px;
  backdrop-filter: blur(0.4rem);
}
/* arrows */
.arrows{
  position: absolute;
  top: 90%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.822);
  border: none;
  color: #fafafa;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.card {
  position: relative;
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
}

.background {
  position: absolute;
  inset: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.logo-socials {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
}

.logo-socials .logo-svg-socials {
  fill: white;
  width: 25px;
  height: 25px;
}

.icon-socials {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon-socials .svg-socials {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.box:hover .svg-socials {
  fill: white;
}

.box1 {
  width: 68%;
  height: 68%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon-socials .svg-socials {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon-socials .svg-socials {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.2s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon-socials .svg-socials {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo-socials {
  transform: translate(70px, -52px);
  letter-spacing: 0px;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

#about-mode{
  display: relative;
  padding-top: 8vh;
  height: 0vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#experience-mode{
  display: relative;
  
  padding-top: 10vh;
  height: 0vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#projects-mode{
  display: relative;
  
  padding-top: 10vh;
  height:0vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

